@{
    ViewBag.Title = "Florida State Statute";
}
<hgroup class="title" style="text-align:center">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>(10) It is a misdemeanor of the second degree, punishable as provided in s. 775.082 or s. 775.083, for a county prisoner or a municipal prisoner in a county detention facility to knowingly, on two or more occasions, violate a posted jail rule governing the conduct of prisoners, if the rule prohibits any of the following acts:</p>
<p>(a) Assaulting any person;</p>
<p>(b) Fighting with another person;</p>
<p>(c) Threatening another with bodily harm, or any offense against another person or property;</p>
<p>(d) Extortion, blackmail, protection, demanding or receiving money or anything of value in return for protection against others to avoid bodily harm, or under threat of informing;</p>
<p>(e) Engaging in sexual acts with others;</p>
<p>(f) Making sexual proposals or threats to another;</p>
<p>(g) Indecent exposure;</p>
<p>(h) Escape;</p>
<p>(i) Attempting or planning escape;</p>
<p>(j) Wearing a disguise or mask;</p>
<p>(k) Setting a fire;</p>
<p>(l) Destroying, altering, damaging, or defacing government property or the property of another person;</p>
<p>(m) Stealing(theft);</p>
<p>(n) Tampering with or blocking any locking device;</p>
<p>(o) Adulteration of any food or drink;</p>
<p>(p) Possession or introduction of any explosive, ammunition, firearm, or weapon;</p>
<p>(q) Possession of contraband;</p>
<p>(r) Misuse of authorized medication;</p>
<p>(s) Loaning of property or anything of value for profit or increased return;</p>
<p>(t) Possession of anything not authorized for retention or receipt by the inmate and not issued to him or her through regular institutional channels;</p>
<p>(u) Mutilating or altering issued clothing, bedding, linen, or mattresses;</p>
<p>(v) Rioting;</p>
<p>(w) Encouraging others to riot;</p>
<p>(x) Engaging in or encouraging a group demonstration;</p>
<p>(y) Refusing to work;</p>
<p>(z) Encouraging others to refuse to work or participating in work stoppage;</p>
<p>(aa) Refusing to obey a reasonable order of any staff member;</p>
<p>(bb) Unexcused absence from work or any assignment;</p>
<p>(cc) Malingering; feigning an illness or injury;</p>
<p>(dd) Failing to perform work as instructed by a supervisor;</p>
<p>(ee) Lying or providing a false statement to a staff member;</p>
<p>(ff) Conduct which disrupts or interferes with the security or orderly running of the institution;</p>
<p>(gg) Counterfeiting, forging, or unauthorized reproduction of any document, article, or identification, money, security, or official paper;</p>
<p>(hh) Participating in an unauthorized meeting or gathering;</p>
<p>(ii) Being in an unauthorized area;</p>
<p>(jj) Failure to follow safety or sanitation regulations;</p>
<p>(kk) Using any equipment or machinery contrary to instructions or posted safety standards;</p>
<p>(ll) Failing to stand count;</p>
<p>(mm) Interfering with the taking of count;</p>
<p>(nn) Making intoxicants or being intoxicated;</p>
<p>(oo) Smoking where prohibited;</p>
<p>(pp) Using abusive or obscene language;</p>
<p>(qq) Gambling; preparing or conducting a gambling pool; possession of gambling paraphernalia;</p>
<p>(rr) Being unsanitary or untidy; failing to keep one’s person and one’s quarters in accordance with posted standards;</p>
<p>(ss) Tattooing or self-mutilation;</p>
<p>(tt) Unauthorized use of mail or telephone;</p>
<p>(uu) Unauthorized contacts with the public;</p>
<p>(vv) Correspondence or conduct with a visitor in violation of posted regulations;</p>
<p>(ww) Giving or offering any official or staff member a bribe or anything of value; or</p>
<p>(xx) Giving money or anything of value to, or accepting money or anything of value from another inmate, a member of his or her family, or his or her friend.</p>
<br />
<p>Punishment for a violation of this subsection shall run consecutive to any other sentence.</p>
