﻿<link href="~/Content/Dashboard.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">
    <div id="header-wrapper">
        <header class="container"></header>
        <div id="menu-dash" class="container"></div>
        <div id="menu-dash" class="container">
            <ul>
                <li class="current_menu_item">
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div>
            <div>
                <p>pending initial report</p>
            </div>
            <div>Level 1</div>
        </div>
        <div>
            <div>
                <p>awaiting supervisor 1</p>
            </div>
            <div>Level 2</div>
        </div>
        <div>
            <div>
                <p>investigation officer</p>
            </div>
            <div>Level 3</div>
        </div>
        <div>
            <div>
                <p>awaiting supervisor 2</p>
            </div>
            <div>Level 4</div>
        </div>
        <div>
            <div>
                <p>awaiting DR Officer</p>
            </div>
            <div>Level 5</div>
        </div>
        <div>
            <div>
                <p>awaiting Chief (Final)</p>
            </div>
            <div>Level 6</div>
        </div>
    </div>
</div>



